In [1]:
import pandas as pd
import numpy as np

In [2]:
with open("./data/KnowledgeTracing.txt", "r") as f:
    subjectList = [line.strip().split("\t") for line in f.readlines()]

subjectList[0][0] = "student_id"
subjectList[0][1] = "question_id"

In [3]:
newSubjectList = [item for item in subjectList if len(item) == 6]

In [4]:
df = pd.DataFrame(newSubjectList[1:], columns=newSubjectList[0])

In [5]:
df.head(5)

        student_id question_id is_correct       end_time  skill_id skill_name
0  204825447039028     2011197          2  1534149419152  33685784  展开图折叠成几何体
1  204825447039028     2000021          3  1534149898771  33685509         数轴
2  204825447039028     2000054          0  1534149898771  33685507      正数与负数
3  204825447039028     2047649          2  1534149909218  33685783    几何体的展开图
4  204825447039028     2047649          2  1534149909218  33685548       列代数式

In [6]:
newDf = df.sort_values(['student_id', 'end_time'])

In [7]:
newDf.head(5)

      student_id question_id is_correct       end_time  skill_id  skill_name
65010     100001     2026047          0  1535104376569  33685830  线段垂直平分线的性质
65447     100001     2039324          1  1535104376595  33685920       轴对称图形
65248     100001     2041243          0  1535104376598  33685920       轴对称图形
65011     100001     2043477          1  1535104376602  33685920       轴对称图形
65448     100001     2050662          0  1535104376618  33685921      轴对称的性质

In [8]:
newDf.is_correct.value_counts()

1       69357
0       48892
3       21902
2        4790
4         352
1.00       90
0.00       65
Name: is_correct, dtype: int64

In [9]:
newDf1 = newDf[newDf["is_correct"].isin(["1", "2", "3"])]

In [10]:
newDf1["is_correct"] = newDf1["is_correct"].replace(["2", "3"], 0)
newDf1["is_correct"] = newDf1["is_correct"].replace("1", 1)

/home/jiangxinyang848/anaconda3/envs/jiang/lib/python3.5/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/home/jiangxinyang848/anaconda3/envs/jiang/lib/python3.5/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [11]:
newDf1.is_correct.value_counts()

1    69357
0    26692
Name: is_correct, dtype: int64

In [12]:
students = newDf1.student_id.tolist()
len(set(students))

685

In [13]:
skills = newDf1.skill_id.tolist()
len(set(skills))

267

In [14]:
newDf1.head(5)

      student_id question_id  is_correct       end_time  skill_id   skill_name
65447     100001     2039324           1  1535104376595  33685920        轴对称图形
65011     100001     2043477           1  1535104376602  33685920        轴对称图形
65251     100001     2080269           1  1535104376629  33685921       轴对称的性质
65252     100001     2080269           1  1535104376629  33685827  全等三角形的判定与性质
65253     100001     2080269           1  1535104376629  33685869       正方形的性质

In [15]:
ktDf = newDf1[["student_id", "skill_id", "is_correct"]]

In [16]:
ktDf.head(5)

      student_id  skill_id  is_correct
65447     100001  33685920           1
65011     100001  33685920           1
65251     100001  33685921           1
65252     100001  33685827           1
65253     100001  33685869           1

In [17]:
ktDf.to_csv("./data/knowledgeTracing.csv", index=False)